<%= render 'pages/home' %>

<!-- adding the calendar view -->
<% if user_signed_in? %>




<% end %>


<!-- End of Calendar View -->

<% if user_signed_in? %>
	<div id="pins" >
	  <%= render @pins %>
	</div>
	  <!-- show the pagination -->
	  <div class="">
	  <%= will_paginate @pins %>
	</div>
<% end %>
