<%= render 'pages/home' %>

<div class="hero-unit frosty">
	<h1 class="custom-h1">Top Surf Sessions</h1>
</div>
<!-- Show the pins -->

<% if user_signed_in? %>
	<div id="pins" >
	  <%= render @pins %>
	</div>
	  <!-- show the pagination -->
	<div class="">
	  <%= will_paginate @pins %>
	</div>
<% end %>
<!-- End of pins -->


