<%= render 'pages/home' %>

<div class="hero-unit frosty">
	<h1 class="custom-h1">Current Sessions</h1>
</div>

<!-- Show the pins -->

<% if user_signed_in? %>
	<div id="pins" >
	</div>
	  <!-- show the pagination -->
	<div class="">
	</div>
<% end %>
<!-- End of pins -->


