<% if user_signed_in? %>
	<div class="container">
		<div class="hero-unit frosty">
			<h1 class="custom-h1">
					 Marco Morawec
			</h1>
				<h1 class="custom-h1">Lifetime Surfing Sessions</h1>
					<div class="row">
							<div class="span4">
									<h2 class="custom-h2">Total Waves</h2>
									<h3  class="dashboard-score">
									<!-- Need to sum for each user seperately -->
										<%= Pin.sum(:NumberOfWaves) %>							
									</h3>
							</div>
							<div class="span4">
									<h2 class="custom-h2">Total Watertime</h2>
									<h3  class="dashboard-score">
										512
									</h3>
							</div>
							<div class="span4">
									<h2 class="custom-h2">Total Set Waves</h2>
									<h3 class="dashboard-score">
										<%= Pin.sum(:NumberOfSetWaves) %>							
									</h3>
							</div>
						</div>
						<div class="row">
							<div class="span4">
									<h2 class="custom-h2">Waves per Session</h2>
									<h3  class="dashboard-score">
										<%= Pin.average(:NumberOfWaves).round %>							
									</h3>
							</div>
							<div class="span4">
									<h2 class="custom-h2">Average Watertime</h2>
									<h3  class="dashboard-score">512</h3>
							</div>
							<div class="span4">
									<h2 class="custom-h2">Set Waves per Session</h2>
									<h3  class="dashboard-score">
										<%= Pin.average(:NumberOfSetWaves).round %>							
									</h3>
							</div>
						</div>																
					</div>
		</div>
	</div>

<% end %>