<div class="container">
	<% if user_signed_in? %>
		<div class="span5 offset3">
			<div class="hero-unit frosty">
				<h2 class="custom-h2">Let's get you shredding</h2>
			</div>
		</div>
	<% else %>
		<div class="span5">		
			<%= render 'devise/registrations/new' %>
		</div>
	<% end %>
</div>
