	<div class="container">
		<div class="span5 offset3">
			<div class="hero-unit frosty">
				<h2>Improve your Surfing</h2>
					<p>
						Track Each Wave. Surf Better!
					</p>


					<p>
						<%= link_to "Sign up Now!", "#", class: "btn btn-success" %>
					</p>
			</div>
		</div>
	</div>
