<div class="hero-unit">
	<h2>Welcome to Future</h2>
		<p>
			You've found the page for an awesome 
			<%= link_to "Surfscore", "http://www.surfscore.me" %>
			surf app
		</p>

		<p>
			<%= link_to "Sign up Now!", "#", class: "btn btn-success" %>
		</p>
</div>
