<div class="container">
	<div class="footer pull-right">
		<div class="navbar navbar-fixed-bottom">
			<small>
				By <%= link_to "Marco Morawec", "http://www.marcomorawec.com" %>
			</small>
		</div>
	</div>
</div>